[submodule "src/RH-P12-RN-A"]
	path = src/RH-P12-RN-A
	url = https://github.com/ROBOTIS-GIT/RH-P12-RN-A.git
[submodule "src/doosan-robot2"]
	path = src/doosan-robot2
	url = https://github.com/fhekwn549/doosan-robot2.git
	branch = humble
[submodule "src/e0509_gripper_description"]
	path = src/e0509_gripper_description
	url = https://github.com/fhekwn549/e0509_gripper_description.git
